astunparse==1.6.3
autoflake==0.6.6
autopep8==1.2.4
backports.tarfile==1.2.0
cython==3.0.11
flake8==3.2.1
flask-admin==1.6.1
flask-basicauth==0.2.0
flask-bootstrap==3.3.7.1
flask-bootstrap4==4.0.2
flask-sqlalchemy==3.1.1
future==1.0.0
gunicorn==23.0.0
importlib-metadata==8.0.0
inflect==7.3.1
jaraco.collections==5.1.0
mathparse==0.1.2
namex==0.0.8
numpy==2.0.2
pint==0.24.4
pip-chill==1.0.3
pymongo==3.13.0
python-dateutil==2.7.5
pytz==2024.2
regex==2024.11.6
requests==2.32.3
rich==13.9.4
tomli==2.0.1
tqdm==4.67.1
