autoflake==0.6.6
autopep8==1.2.4
blinker==1.8.2
click==8.1.7
pycodestyle<2.3.0
flake8==3.2.1
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
future==1.0.0
greenlet==3.0.3
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mccabe==0.5.3
packaging==24.1
pep8==1.5.7
pyflakes==0.8.1
SQLAlchemy==2.0.32
typing_extensions==4.12.2
Werkzeug==3.0.3
