        {% extends 'layout.html' %}
        {% block content  %}
        <section class="header">
            
            <h1>Sergio Herrera </h1>
            <p>Python Developer</p>
            <!--I would suggest choosing a different picture here.-->
            <!--Like maybe a hobby photo-->
            <img src="/static/IMG_20231018_102335.jpg" alt="Headshot of myself">
        </section>
        <section id="about-page">
            <div id="triangle7"></div>
            <div id="triangle8"></div>
            <h2>about me </h2>
            <p>
              A dedicated Python developer with a strong foundation in web development. 
              My coding journey began three months ago, and since then,
               I've earned a Python Development Techdegree,
                building projects that showcase my skills and creativity. 
                I'm passionate about developing web applications, 
                with a particular interest in Flask, Django, and Robotic Process Automation.

If you're interested in learning more about my professional background, technical skills, and the projects I've worked on, feel free to check out my CV.
It provides a detailed overview of my journey as a developer and the experiences that have shaped my career.
            </p>
            
            <a href="https://drive.google.com/file/d/193kj8cko6DBmP04HVvkRyqqUIxk31hHt/view?usp=sharing"><i class="far fa-file"></i>Resume</a>
        </section>
        {% endblock %}
       