
{% extends 'layout.html' %}


        
        
        {% block content %}            
        
            
      <section class="header">
        <h1>Edit Project</h1>
    </section>
    <section id="form">
        <form method="POST" action="{{ url_for('edit', id=id) }}">
          {% block form_fields %}

            <label for="title">Project Title</label>
            <input type="text" id="title" name="title" value="{{ project.title }}">

            <label for="date">Completion Date</label>
            <input type="month"  name='date' value="{{ date }}">

            <label for="description">Description</label>
            <textarea id="description" name="desc">{{ project.description }}</textarea>

            <label for="skills-list" id="skills-label">Skills</label>
            <p>Separate each skill by a comma</p>
            <textarea id="skills-list" name="skills">{{ project.skills_practiced }}</textarea>

            <label for="github">GitHub Link</label>
            <input type="url" id="github" name="github" value="{{ project.url }}">
{% endblock %}
            <div>
                <button type="reset">Cancel</button>
                <button type="submit">Submit</button>
            </div>
        </form>
    </section>
                
         
        {% endblock content %}
       